.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 50px);
  background: #fff;
  border-radius: 5px;
  padding: 15px;
  filter: none;

  &__close__btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

    svg {
      color: #1f497d;
      width: 35px;
      height: 35px;
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 15px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    color: #1f497d;
    font-weight: 400;
    font-size: 18px;

    .modal__info__item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .modal__info__name {
        margin-right: 7px;
      }

      .modal__info__price {
        font-weight: 500;
        color: #fff;
      }
    }
  }

  &__amount {
    display: flex;
    width: 110px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #67d5c1;
    border-radius: 10px;
    color: #fff;

    &__minus {
      margin-top: 5px;
      height: 100%;
      padding: 5px;

      &:active {
        transform: scale(1.15);
      }
    }

    &__plus {
      height: 100%;
      padding: 6px 5px 5px 5px;

      &:active {
        transform: scale(1.15);
      }
    }

    svg {
      cursor: pointer;
    }
  }

  &__size {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;

    .size {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius: 44px;
      border: 1px solid #3973bb;
      color: #3973bb;
      font-size: 16px;
      font-weight: 400;

      &__add {
        color: green;
      }
      &__delete {
        color: red;
      }
    }

    .size__active {
      background: #be0201;
      border: 1px solid #be0201;
      color: #fff;
    }
  }

  &__modifier {
    margin-top: 25px;

    &__text {
      font-size: 16px;
      color: #372013;
      font-weight: 500;
    }

    .modifier__list {
      display: flex;
      flex-direction: column;
    }

    .modifier {
      width: 100%;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ffd9c2;

      &__title {
        font-size: 14px;
        color: #372013;
        font-weight: 400;
        display: flex;
        .price {
          margin-left: 5px;
          color: #fc9254;
        }
      }
    }
  }

  &__button {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    background: #67d5c1;
    padding: 15px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    transform: all 0.1s;

    &:active {
      opacity: 0.8;
    }
  }
  .adadad {
    color: red !important;
  }
}
