.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 20px);
  background: #0b0b0b;
  border-radius: 5px;
  padding: 15px;
  filter: none;
  border: 1.5px solid rgba(176, 2, 2, 0.253);

  &__close__btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: 7px;
    cursor: pointer;

    svg {
      color: #be0201;
      width: 25px;
      height: 25px;
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 55px;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__info {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__gramm {
      color: #fff;
      font-size: 12px;
      font-weight: 100;
    }
  }

  &__name {
    color: #fff;
    font-weight: 400;
    font-size: 18px;

    .modal__info__item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .modal__info__name {
        margin-right: 7px;
      }

      .modal__info__price {
        font-weight: 500;
        color: #fff;
      }
    }
  }

  &__amount {
    display: flex;
    width: 110px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #343434;
    border-radius: 10px;
    color: #fff;

    &__count {
      width: 6px;
    }

    &__minus {
      margin-top: 5px;
      height: 100%;
      padding: 5px;

      &:active {
        transform: scale(1.15);
      }
    }

    &__plus {
      height: 100%;
      padding: 6px 5px 5px 5px;

      &:active {
        transform: scale(1.15);
      }
    }

    svg {
      cursor: pointer;
    }
  }

  &__choice {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    .choice {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      cursor: pointer;

      &__line {
        width: 100%;
        height: 5px;
        background: #f1f1f1;
        border-radius: 34px;
      }
    }

    .choice__active {
      .choice__line {
        background: linear-gradient(
          270deg,
          #ffa46e 0%,
          #fe5f02 100%
        ) !important;
      }
    }
  }

  &__size {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;

    .size {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      border-radius: 44px;
      border: 1px solid #a2a2a2;
      color: #a2a2a2;
      font-size: 16px;
      font-weight: 400;
    }

    .size__active {
      background: #be0201;
      border: 1px solid #be0201;
      color: #fff;
    }
  }

  &__modifier {
    margin-top: 25px;

    &__text {
      font-size: 16px;
      color: #372013;
      font-weight: 500;
    }

    .modifier__list {
      display: flex;
      flex-direction: column;
    }

    .modifier {
      width: 100%;
      height: 40px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ffd9c2;

      &__title {
        font-size: 14px;
        color: #372013;
        font-weight: 400;
        display: flex;
        .price {
          margin-left: 5px;
          color: #fc9254;
        }
      }
    }
  }

  &__changes {
    margin-top: 15px;
    .changes__title {
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .changes__block {
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 8px 10px 8px 10px;
      display: flex;
      width: 100%;
      height: 36px;
      border: 1.5px solid #be0201;
      border-radius: 10px;

      .name {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
      }

      .dropdown__menu {
        margin-top: 3px;
        align-items: center;
        justify-content: space-between;
        display: block;
        max-height: 135px;
        z-index: 1;
        background-color: #151515;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        overflow: auto;
      }

      .dropdown__item {
        color: #fff;
        align-items: center;
        justify-content: space-between;
        padding: 8px 10px 8px 10px;
        display: flex;
        width: 100%;
        height: 39px;
        background-color: inherit;
        border-bottom: 1.5px solid #a2a2a2;

        &:last-child {
          border-bottom: 0px;
        }

        .dropdown__item__price {
          color: #ffa46e;
        }
      }
    }
  }

  &__button {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    background: #be0201;
    padding: 15px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    transform: all 0.1s;

    &:active {
      opacity: 0.8;
    }
  }
}
